.page-header
  %h1
    My profile
    %small= @user.name
%section
  %h2
    Personal details
    = link_to edit_user_path(@current_user), :class => 'btn' do
      %i.icon-pencil
      Edit
  %dl.dl-horizontal
    %dt  Name
    %dd= @user.name
    %dt  Email
    %dd= @user.email
    %dt  Telephone no.
    %dd= @user.telephone
  %dl.dl-horizontal
    %dt  Address
    %dd= @user.address || "&mdash;".html_safe
    %dt  Zipcode
    %dd= @user.zipcode || "&mdash;".html_safe
    %dt  City
    %dd= @user.city || "&mdash;".html_safe
