.page-header
  %h1
    = @organization.name
.row
  .span6
    %dl.dl-horizontal
      %dt  Address
      %dd
        = @organization.address
        %br
        = @organization.zipcode
        = @organization.city
      %dt  Telephone
      %dd= @organization.telephone
      %dt  Head contacts
      %dd#head_contacts
        = render 'head_contacts'
  .span6
    %section
      %h2 Users
      #add_user_form
        = form_for [@organization, Employment.new], :remote => true, :html => {:class => 'form-inline'} do |f|
          = text_field_tag 'email', '', :placeholder => 'E-mail address', :class => 'input-medium'
          = select_tag 'role', options_for_select(Employment::ROLES), :class => 'input-medium'
          = f.submit 'Add'
      %p#employments
        = render @organization.employments
%h2 Subsidiaries
