%h1
  = @organization.name
%ul.nav.nav-tabs
  %li.active= link_to 'Details', '#details', 'data-toggle' => 'tab'
  %li= link_to 'Orders'
  %li= link_to 'Statistics'
  %li= link_to 'Opening hours', '#opening_hours', 'data-toggle' => 'tab'
.tab-content
  #details.tab-pane.active
    = render 'details'
  #opening_hours.tab-pane
    = render 'opening_hours'
